[submodule "teensy/lib/Seeed_MCP9600"]
	path = teensy/lib/Seeed_MCP9600
	url = git@github.com:Seeed-Studio/Seeed_MCP9600.git

[submodule "teensy/lib/VL53L0X"]
	path = teensy/lib/VL53L0X
	url = git@github.com/pololu/vl53l0x-arduino.git
